<% content_for :title, t('todos.edit.title') %>

<h1><%= t('todos.edit.title') %></h1>

<%= render "form", todo: @todo %>

<br>

<div>
  <%= link_to t('todos.edit.show'), @todo %> |
  <%= link_to t('todos.edit.back'), todos_path %>
</div>
