body {
    font-family: "Zen Maru Gothic", "Hiragino Maru Gothic ProN",
               "Yu Gothic", "Hiragino Sans", "Noto Sans JP",
               sans-serif;
    background-color: #f9f0b2;
    margin: 0;
    padding: 0;
}
